(module ; [0, 0] - [22, 0]
  (import_statement ; [0, 0] - [0, 12]
    name: (dotted_name ; [0, 7] - [0, 12]
      (identifier))) ; [0, 7] - [0, 12]
  (function_definition ; [2, 0] - [6, 36]
    name: (identifier) ; [2, 4] - [2, 22]
    parameters: (parameters ; [2, 22] - [2, 39]
      (typed_parameter ; [2, 23] - [2, 32]
        (identifier) ; [2, 23] - [2, 27]
        type: (type ; [2, 29] - [2, 32]
          (identifier))) ; [2, 29] - [2, 32]
      (identifier)) ; [2, 34] - [2, 38]
    return_type: (type ; [2, 43] - [2, 46]
      (identifier)) ; [2, 43] - [2, 46]
    body: (block ; [3, 4] - [6, 36]
      (expression_statement ; [3, 4] - [5, 7]
        (string ; [3, 4] - [5, 7]
          (string_start) ; [3, 4] - [3, 7]
          (string_content) ; [3, 7] - [5, 4]
          (string_end))) ; [5, 4] - [5, 7]
      (return_statement ; [6, 4] - [6, 36]
        (binary_operator ; [6, 11] - [6, 36]
          left: (binary_operator ; [6, 11] - [6, 29]
            left: (string ; [6, 11] - [6, 22]
              (string_start) ; [6, 11] - [6, 12]
              (string_content) ; [6, 12] - [6, 21]
              (string_end)) ; [6, 21] - [6, 22]
            right: (identifier)) ; [6, 25] - [6, 29]
          right: (identifier))))) ; [6, 32] - [6, 36]
  (function_definition ; [9, 0] - [10, 8]
    name: (identifier) ; [9, 4] - [9, 21]
    parameters: (parameters) ; [9, 21] - [9, 23]
    body: (block ; [10, 4] - [10, 8]
      (pass_statement))) ; [10, 4] - [10, 8]
  (expression_statement ; [13, 0] - [13, 44]
    (assignment ; [13, 0] - [13, 44]
      left: (identifier) ; [13, 0] - [13, 18]
      right: (string ; [13, 21] - [13, 44]
        (string_start) ; [13, 21] - [13, 22]
        (string_content) ; [13, 22] - [13, 43]
        (string_end)))) ; [13, 43] - [13, 44]
  (comment) ; [15, 0] - [15, 21]
  (expression_statement ; [16, 0] - [16, 15]
    (assignment ; [16, 0] - [16, 15]
      left: (identifier) ; [16, 0] - [16, 10]
      right: (integer))) ; [16, 13] - [16, 15]
  (expression_statement ; [18, 0] - [18, 61]
    (assignment ; [18, 0] - [18, 61]
      left: (identifier) ; [18, 0] - [18, 16]
      right: (call ; [18, 19] - [18, 61]
        function: (identifier) ; [18, 19] - [18, 37]
        arguments: (argument_list ; [18, 37] - [18, 61]
          (identifier) ; [18, 38] - [18, 56]
          (string ; [18, 58] - [18, 60]
            (string_start) ; [18, 58] - [18, 59]
            (string_end)))))) ; [18, 59] - [18, 60]
  (expression_statement ; [20, 0] - [20, 23]
    (call ; [20, 0] - [20, 23]
      function: (identifier) ; [20, 0] - [20, 5]
      arguments: (argument_list ; [20, 5] - [20, 23]
 
