name: CI

on:
  push:
    branches: [ "master", "v1" ]
  pull_request:
    branches: [ "master", "v1" ]

jobs:
  gen:
    name: Codegen
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.version.outputs.version }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Compute version
        id: version
        run: |
          VERSION=$(.github/workflows/version.sh)
          echo "$VERSION"
          echo "version=$VERSION" >> $GITHUB_OUTPUT
          echo "::notice title=Version Computed::Building version: $VERSION"

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: '1.25'
          cache: 'true'

      - name: Get buf
        run: |
          BIN="/usr/local/bin"
          VERSION="1.57.2"
          curl -sSL "https://github.com/bufbuild/buf/releases/download/v${VERSION}/buf-$(uname -s)-$(uname -m)" -o "${BIN}/buf"
          chmod +x "${BIN}/buf"

      - name: Gen
        run: make gen

      - name: Upload repo
        uses: actions/upload-artifact@v6
        with:
          name: repo
          path: .

  build:
    name: Build ${{ matrix.os }}/${{ matrix.arch }}
    runs-on: ubuntu-latest
    needs: gen
    strategy:
      fail-fast: false
      matrix:
        os: [linux, darwin]
        arch: [arm64, amd64]
    steps:
      - name: Download repo
        uses: actions/download-artifact@v7
        with:
          name: repo
          path: .

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: '1.25'
          cache: 'true'

      - name: Build
        id: build
        env:
          CGO_ENABLED: 0
          GOOS: ${{ matrix.os }}
          GOARCH: ${{ matrix.arch }}
        run: |
          BIN_NAME="heph_${{ matrix.os }}_${{ matrix.arch }}"
          echo "bin_name=$BIN_NAME" >> $GITHUB_OUTPUT
          go build -ldflags "-s -w -X internal/hversion.Version=${{needs.gen.outputs.version}}" -o $BIN_NAME

      - name: Upload artifact
        uses: actions/upload-artifact@v6
        with:
          name: ${{steps.build.outputs.bin_name}}
          path: ${{steps.build.outputs.bin_name}}

  upload_artifacts:
    name: Upload artifacts
    needs: [gen, build]
    runs-on: ubuntu-latest
    steps:
      - name: Download all artifacts
        uses: actions/download-artifact@v7
        with:
          pattern: "heph_*"
          path: dist
          merge-multiple: true

      - name: List artifacts
        run: ls -lahR dist

      - name: Create Release in artifacts repo
        uses: softprops/action-gh-release@v2
        with:
          repository: hephbuild/heph-artifacts-v1
          token: ${{ secrets.HEPH_ARTIFACTS_PAT }}
          tag_name: ${{needs.gen.outputs.version}}
          name: Build ${{needs.gen.outputs.version}}
          body: "Artifacts automatically published from source-repo."
          draft: false
          prerelease: true
          files: dist/*

  test:
    name: Test ${{ matrix.os }}/${{ matrix.arch }}
    runs-on: ubuntu-latest
    needs: gen
    strategy:
      fail-fast: false
      # matrix:
      #   os: [linux, darwin]
      #   arch: [arm64, amd64]
      matrix: # good enough for now
        os: [linux]
        arch: [amd64]
    steps:
      - name: Download repo
        uses: actions/download-artifact@v7
        with:
          name: repo
          path: .

      # - name: Test
      #   run: go test ./...

      # - name: Lint
      #   uses: golangci/golangci-lint-action@v8
      #   with:
      #     version: v2.5

  release:
    name: Release
    needs: [gen, upload_artifacts, test]
    if: github.ref == 'refs/heads/master' || github.ref == 'refs/heads/v1'
    runs-on: ubuntu-latest
    steps:
      - name: Update Release to Production
        uses: softprops/action-gh-release@v2
        with:
          repository: hephbuild/heph-artifacts-v1
          token: ${{ secrets.HEPH_ARTIFACTS_PAT }}
          tag_name: ${{needs.gen.outputs.version}}
          prerelease: false
          make_latest: true
