name: Release

on:
  push:
    branches:
      - '*'

env:
  NOCACHE: "Cache-Control: no-cache, no-store"

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    env:
      CGO_ENABLED: "0"
    steps:
      - uses: actions/checkout@v2

      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.19

      - name: Build
        run: go build -v -o heph .

      - name: Go Tests
        run: "./heph go_test"

      - name: E2E Test
        run: "./heph e2e_test"

      - name: E2E ReTest
        run: "./heph e2e_test"

      - name: intg Test
        run: "./heph intg_test"

      - name: intg ReTest
        run: "./heph intg_test"

  build:
    name: Build
    runs-on: ubuntu-latest
    env:
      CGO_ENABLED: "0"
    outputs:
      version: ${{ steps.upload.outputs.version }}
    steps:
      - uses: actions/checkout@v2

      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.19

      - name: Pre-Build
        run: go build -v -o heph .

      - name: Self Build
        run: |
          mkdir -p dist
          ./heph cp_builds $(pwd)/dist
          ls ./dist

      - name: Upload assets
        uses: actions/upload-artifact@v2
        with:
          name: heph
          path: dist/*

      - name: 'Authenticate to Google Cloud'
        uses: 'google-github-actions/auth@v0'
        with:
          credentials_json: '${{ secrets.GOOGLE_CREDENTIALS }}'

      - name: 'Set up Cloud SDK'
        uses: 'google-github-actions/setup-gcloud@v0'

      - name: Copy to bucket
        id: upload
        run: |
          VERSION=$(./heph run --porcelain //:version)          
          echo "::set-output name=version::$VERSION"

          echo $VERSION

          gsutil -h "${NOCACHE}" rsync -r './dist' gs://heph-build/${VERSION}
          gsutil -h "${NOCACHE}" cp './install.sh' gs://heph-build/install.sh
          gsutil -h "${NOCACHE}" cp './hephw' gs://heph-build/hephw

  release:
    name: Release
    runs-on: ubuntu-latest
    needs: [ build, test ]
    if: github.ref == 'refs/heads/master'
    steps:
      - name: 'Authenticate to Google Cloud'
        uses: 'google-github-actions/auth@v0'
        with:
          credentials_json: '${{ secrets.GOOGLE_CREDENTIALS }}'

      - name: 'Set up Cloud SDK'
        uses: 'google-github-actions/setup-gcloud@v0'

      - name: Copy to bucket
        run: |
          VERSION=${{needs.build.outputs.version}}
          
          echo $VERSION > ./latest_version
          
          gsutil -h "${NOCACHE}" cp './latest_version' gs://heph-build/latest_version
